@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Poiret+One|Jaldi|Raleway|Quicksand:300,400');


body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #FFE2E2;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
  height: 70px;
  /*background-color: #4ECDC4;*/
  /*background-color: #FF7878;*/
  background-color: #FF8080;
  /*background-color: #2D2D2D;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*border-bottom: 0.2px solid #dddddd;
  box-shadow:0px 1px 5px #eeeeee;*/
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  color: #FFFFFF;
  font-size: 18px;
}

.decoration-dot {
  font-family: 'Jaldi', Arial, sans-serif;
  font-size: 25px;
}

#logo {
  /*margin-right: 40px;
  margin-left: 10px;*/
  margin-bottom: 10px;
  font-size: 60px;
  width: 100%;
  height:100%;
  font-family: 'Quicksand','Helvetica Neue', sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /*background-color: blue;*/
}

#yarn {
  width: 55px;
  margin: 5px;
  /*background-color: red;*/
}

#footer {
  
}

#content {
  width: 100%;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

#boxes, #projects {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.box {
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 15px;
  width: 300px;
  height: 300px;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0px 0.5px 7px #E1E1E1;
  -webkit-transition: -webkit-transform 30s ease-in-out 2s;
  transition: transform 30s ease-in-out 2s;
}

.box.all-loaded {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#box-1 {
  background-image: url("../images/pokedex/eevee-wbw.jpg");
}

#box-1 .text-background {
  background: rgba(207, 131, 77, 0.5);
}

#box-2 {
  background-image: url("../images/octopus-wbw.jpg");
}

#box-2 .text-background {
  background: rgba(255, 141, 161, 0.65)
}

#box-3 {
  background-image: url("../images/pokedex/squirtle-wbw.jpg");
}

#box-3 .text-background {
  background: rgba(147, 200, 208, 0.65);
}

.text-background {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: #F7F7F7;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  padding-bottom: 7px;
}

/*.box-small {
  overflow: hidden;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow:0px 1px 3px #D4D4D4;
}*/


.title {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#description {
  text-align: center;
}

form {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pokedex-items {
  /*width: 80%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-item {
  padding: 0;
  margin: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightblue;
  box-shadow:0px 0.5px 7px #E1E1E1;
}

.poke-item:hover {

}

.poke-item figure {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: #F7F7F7;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  padding-bottom: 7px;
}

.multi-line figure {
  padding-top: 5px;
  padding-bottom: 2px;
}

.fire figure {
  background: rgba(254, 194, 184, 1);
}

.grass figure {
  background: rgba(208, 226, 152, 1);
}

.water figure {
  background: rgba(186, 224, 243, 1);
}

.normal figure {
  background: rgba(216, 195, 176, 1);
}

.fighting figure {
  background: rgba(228, 135, 147, 1);
}

.flying figure {
  background: rgba(200, 162, 200, 0.75);
}

.electric figure {
  background: rgba(255, 220, 150, 1);
}

.psychic figure {
  background: rgba(254, 184, 192, 1);
}

.ice figure {
  background: rgba(192, 203, 255, 0.80);
}

.poison figure {
  background: rgba(148, 0, 148, 0.5);
}

.ground figure {
  background: rgba(227, 187, 81, 0.65);
}

.rock figure {
  background: rgba(199, 154, 32, 0.65);
}

.dragon figure {
  background: rgba(135, 135, 223, 0.75);
}

.dark figure {
  background: rgba(100, 100, 100, 0.5);
}

.fairy figure {
  background: rgba(255, 165, 180, 0.75);
}

.bug figure {
  background: rgba(212, 227, 84, 0.75);
}

.ghost figure {
  background: rgba(178, 173, 237, 1);
}

.steel figure {
  background: rgba(140, 140, 165, 0.5);
}

#project-1 {
  background-image: url("../images/wampa2.jpg");
  background-size: 300px;
  background-position: bottom;
}

#project-1 .text-background {
  background: rgba(200, 200, 200, 1);
}

#project-2 {
  background-image: url("../images/octo-w.jpg");
  background-size: 310px;
  background-position: bottom;
}

#project-2 .text-background {
  background: rgba(255, 179, 179, 1);
  background: rgba(233, 172, 193, 1);
}

#project-3 {
  background-image: url("../images/squirtleduo-w.jpg");
  background-size: 320px;
  background-position: 35% 20px;
}

#project-3 .text-background {
  background: rgba(186, 219, 224, 1);
}

#project-4 {
  background-image: url("../images/starbear-w.jpg");
  background-size: 300px;
}

#project-4 .text-background {
  background: rgba(200, 200, 200, 1);
  background: rgba(245, 156, 164, 1);
}

#projects .multi-line {
  padding-top: 5px;
  padding-bottom: 2px;
}

#about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

#profile {
  display: flex;
  flex-direction: column;
}

#profile-pic {
  background-image: url("../images/me.jpg");
  width: 250px;
  height: 250px;
  background-size: 400px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.icon {
  margin: 10px;
  margin-top: 50px;
  width: 35px;
}

#profile-description {
  width: 50%;
  margin-top: 20px;
}

#profile-description p, #profile-description .title {
  justify-content: flex-start;
  text-align: left;
}
